<!DOCTYPE html>
<html lang="en" class="about-us-page">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moore's Farmers Market</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <div class="logo-container" id="logoContainer">
        <img src="{{ url_for('static', filename='images/mfmLogo.png') }}" alt="Site Logo" style="display:block; width:10px; height: 10px;">
    </div>

    <header>
        <nav>
            <div class="nav-left">
                <a href="index.html">Home</a>
                <a href="aboutus.html">About Us</a>
                <a href="products.html">Products</a>
            </div>
            <div class="nav-right">
                <a href="seasonal.html">Seasonal</a>
                <a href="login.html">Log In</a>
            </div>
        </nav>
    </header>

    <main style="padding-top: 200px">
        <!-- First Section: Who the owners are??? -->
        <h1 class="about-heading fade-in-heading">ABOUT US</h1>
        
        <div class="content-container">
            <img src="images/flowersAboutUs.jpg" alt="Farmers Market" class="content-image fade-in-image">
            <div class="text-content">
                <h2 class="main-heading fade-in-heading">About Us</h2>
                <p class="sub-text fade-in-paragraph"> Moore's Farm Market was started in 1952 by George and Mildred Moore. We have been a family run business ever since providing fresh produce and flowers to the community. We have a wide variety of produce, flowers, honey, seasonal decorations, as well as fall and winter seasonal products.</p>
            </div>
        </div>
    
        <!-- Second Section: Local -->
        <div class="content-container reverse">
            <div class="text-content">
                <h2 class="main-heading fade-in-heading">Local</h2>
                <p class="sub-text fade-in-paragraph"> We grow the vast majority of our flowers in our greenhouses ensuring they are as healthy as they can be. When local produce is in season we source the very best and always keep local honey in stock.</p>
            </div>
            <img src="images/truckAboutUs.jpg" alt="Farmers Market" class="content-image fade-in-image">
        </div>
    
        <!-- Third Section: Fresh -->
        <div class="content-container">
            <img src="images/honeyAboutUs.jpg" alt="Farmers Market" class="content-image fade-in-image">
            <div class="text-content">
                <h2 class="main-heading fade-in-heading">Fresh</h2>
                <p class="sub-text fade-in-paragraph"> Moore's Farm Market won 2024 Asbury Park Press best of the best produce!!! </p>
            </div>
        </div>
    </main>

    <script src="script.js"></script>

</body>
</html>
