{% if session['isEmp'] or session['isOwner'] %}
<!DOCTYPE html>
<html lang="en" class="employee schedule">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moore's Farmers Market</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="logo-container" id="logoContainer">
        <img src="{{ url_for('static', filename='images/mfmLogo.png') }}" alt="Site Logo" style="display:block; width:100px; height: 100px;">
    </div>

    <header>
        <nav>
            <div class="nav-left">
                <a href="/index">Home</a>
                <a href="/products">Products</a>
                <a href="/aboutus">About Us</a>
                {% if session['isOwner']  %}
                <a href="/add_schedule">Add Schedule</a>
                {% endif %}
            </div>
            <div class="nav-right">
                <a href="/seasonal">Seasonal</a>
            </div>

            {% if session['FirstName'] %}
            <span style="color: white; font-weight: bold; margin-left: 15px;">
                Welcome, {{ session['FirstName'] }}
            </span>
            <a href="{{ url_for('logout') }}" style="color: red; font-weight: bold; margin-left: 10px;">Logout</a>
            {% endif %}
        </nav>
    </header>

    <main style="padding-top: 200px;">
        <h1 class="about-heading fade-in-heading">EMPLOYEE SCHEDULE</h1>

        <table style="margin: auto; border-collapse: collapse; width: 80%; background-color: rgb(230, 206, 255); color: black;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;" border="1">
            <thead>
                <tr>
                    <th>Employee ID</th>
                    <th>Day</th>
                    <th>Time In</th>
                    <th>Time Out</th>
                </tr>
            </thead>
            <tbody>
                {% if schedule %}
                    {% for entry in schedule %}
                        <tr>
                            <td>{{ entry['EmployeeID'] }}</td>
                            <td>{{ entry['Day'] }}</td>
                            <td>{{ entry['TimeIn'] }}</td>
                            <td>{{ entry['TimeOut'] }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4" style="text-align: center;">No schedule available for any employee.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </main>

</body>
</html>

{% else %}
<script>
    window.location.href = "/index";
</script>
{% endif %}